.aboutBody {
    width: 100%;
}
.my-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.aboutme {
    max-width: 30%;
    font-style: italic;
    font-size: small;
}

#about {
    max-width: 70%;
    line-height: 1.6;
}
