/* Add this to your main CSS file */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  flex: 1;
}

footer {
  /* Optional styling */
  background: #f3f3f3;
  text-align: center;
  padding: 10px 0;
  font-size: small;
}
